In [1]:
import pandas as pd
sales_by_region = pd.read_csv(r'C:\Users\Kamil\Desktop\data_mart_pd\sales_by_region.csv')
sales_by_region.head()

   week_number  region  sales_per_week
0         13.0  AFRICA       152958541
1         14.0  AFRICA       142647377
2         15.0  AFRICA       143405192
3         16.0  AFRICA       150876528
4         17.0  AFRICA       131593844

In [14]:
sbr = sales_by_region.pivot_table(index='week_number', columns='region', values='sales_per_week',)
print(sbr)
sbr.to_csv(r'C:\Users\Kamil\Desktop\data_mart_pd\sbr_pivot.csv')

region            AFRICA         ASIA      CANADA     EUROPE      OCEANIA  \
week_number
13.0         152958541.0  146971355.0  37798683.0  9029415.0  213209201.0
14.0         142647377.0  134444514.0  36932827.0  8916167.0  201965020.0
15.0         143405192.0  135621690.0  34685355.0  8585600.0  190941254.0
16.0         150876528.0  138254300.0  36563989.0  9104197.0  196281418.0
17.0         131593844.0  134927825.0  33738925.0  8827131.0  192833570.0
18.0         135265888.0  137135540.0  36254269.0  9284865.0  196651505.0
19.0         146280662.0  138236269.0  35644996.0  8886326.0  198257417.0
20.0         141036951.0  133864804.0  35215538.0  9138986.0  192714837.0
21.0         141125597.0  134815531.0  34853028.0  8943714.0  191813688.0
22.0         142158311.0  134960732.0  35316917.0  9430300.0  193680795.0
23.0         141169074.0  135024741.0  34047811.0  9349605.0  192399757.0
24.0         141019140.0  132987165.0  35386116.0  9390261.0  193368328.0
25.0         137922590.0  129759259.0  34795233.0  9228586.0  186612133.0
26.0         140696308.0  131009543.0  35615401.0  9752676.0  191915399.0
27.0         141532914.0  130082383.0  34900532.0  9630052.0  187688621.0
28.0         147800770.0  134599762.0  35056861.0  9943126.0  187927287.0
29.0         144231424.0  133294743.0  35197746.0  9735899.0  190252851.0
30.0         141179335.0  131704182.0  34457057.0  9880974.0  190750550.0
31.0         141004715.0  130969398.0  34233271.0  9507455.0  188718162.0
32.0         136749081.0  127478487.0  33942806.0  9422423.0  186604975.0
33.0         141174620.0  132356073.0  34418244.0  9234655.0  190999705.0
34.0         141881318.0  131533006.0  34794549.0  9361725.0  191062408.0
35.0         143226086.0  136263556.0  35195474.0  9126331.0  195566293.0
36.0         142991133.0  134757229.0  35657267.0  9215057.0  194697306.0

region       SOUTH AMERICA         USA
week_number
13.0            19187916.0  59042395.0
14.0            18181366.0  57811452.0
15.0            17499328.0  54813511.0
16.0            17793358.0  57269482.0
17.0            17393228.0  52559820.0
18.0            17881764.0  57309190.0
19.0            17539712.0  56553211.0
20.0            17638886.0  56937400.0
21.0            17272034.0  56184498.0
22.0            17702977.0  55870772.0
23.0            17410136.0  56064949.0
24.0            17535502.0  56596878.0
25.0            17289460.0  54418087.0
26.0            17824972.0  56428529.0
27.0            17300915.0  54255182.0
28.0            17395591.0  57611997.0
29.0            17302504.0  55921235.0
30.0            17392380.0  55509637.0
31.0            17224192.0  54692442.0
32.0            16860503.0  54651578.0
33.0            17204565.0  54636531.0
34.0            17437779.0  55004621.0
35.0            17358674.0  56643478.0
36.0            17860498.0  56425398.0